/* COLOR SCHEME
yellow = rgb(255, 230, 125)
ligh yellow for background = rgba(255, 230, 125, 0.3)
light blue for background = rgba(153, 204, 255, 0.4)
blue = rgb(153, 204, 255)
brown = rgb(208, 197, 166)
dark brown for text = rgb(133, 125, 105)
light brown background = rgba(208, 197, 166, 0.384)
light gray = rgb(217, 217, 217)
dark gray for text = rgb(175, 175, 175)
cream = rgba(255, 253, 208, 0.35)

IMAGES
Food images for recipe desc & index formatted as 4:3 and height = 350
Blog images have width = 425
Resources icon images have formatted as 3:2 and height = 200
Conversion icon images have formatted 4:3 and width = 500
*/

*{font-family: 'Lato', sans-serif; margin:0;}

/* HEADER */
header{background-color: rgb(208, 197, 166);}

/* TOP LOGO */
#top{height: 10%;}
#top img{display: block; height: auto; margin-left: auto; margin-right: auto; margin-bottom: 1.5%;margin-top: 1%; max-width: 40%;}
.decor_bar{background-color: rgb(217, 217, 217); clear: both; line-height: 20%; }

/* NAV */
nav{background-color: rgba(255, 230, 125, 0.2);}
.navbar {display: flex; justify-content: center; padding-bottom: 0.5%; padding-top: 0.5%; text-align: center;} 
nav a{color: rgb(133, 125, 105); display: block; font-size: 1.1rem; font-weight: bold; padding: 0 2.5%; text-decoration: none; text-transform: uppercase;}
nav a:hover{color: rgb(153, 204, 255);}
/* Subnav */
.dropdown{padding: 0 2.5%;}
.categories{background-color: white; border-color: rgb(217, 217, 217); border-style: solid; display: none; position: absolute; z-index: 1000;}
.categories a{color: rgb(208, 197, 166); display: block; float: none; font-size: 1.1rem; font-weight: bold; padding-top: 1%; padding-bottom: 1%; text-align: left; text-decoration: none;}
.dropdown:hover .categories{display: block;}

/* TITLE OF PAGE */
.title{color: rgb(133, 125, 105); font-family: 'Rochester', cursive; font-size: 3rem; padding-top: 1.5%; letter-spacing: 0.02em; text-align: center;}
.description{color: rgb(133, 125, 105); font-size: 1.1rem; margin-top: 0.5%; text-align: center;}
.single{border-color: rgba(153, 204, 255, 0.4); border-style: none solid; border-width: 0 4vw; padding-bottom: 1%;}

/* CONVERTER BOX ROW */
.row{border-color: rgba(153, 204, 255, 0.4); border-style: none solid; border-width: 0 4vw; display: flex;}
.box{border-color: rgb(217, 217, 217); border-top-style: solid; padding: 1% 0 2%;}
.main{display: flex; flex-wrap: wrap; justify-content: center; width: 75%;}
.icon{display: flex; justify-content: center; width: 25%;}
.left{border-right-style: solid;}
.right{border-left-style: solid;}

/* FOR DESIGN ONLY */
/* .row{border-color: red; border-style: solid;}
.main{border-color: green; border-style: solid;}
.icon{border-color: blue; border-style: solid;} */

/* CONVERTER CONTENT */
.subheading{color: rgb(133, 125, 105); font-family: 'Rochester', cursive; font-size: 2rem; letter-spacing: 0.02em; padding-left: 5%; text-align: left; width: 100%;}
/* hide spinners on input */
.input::-webkit-outer-spin-button, .input::-webkit-inner-spin-button{-webkit-appearance: none;}
.input{-moz-appearance: textfield;}
/* input number box */
.inputBox{width: 40%;}
.input{display: block; font-size: 1.5rem; padding: 5% 0; text-align: center; width: 95%;}
/* unit option dropdown box */
.unitOptions{display: block; font-size: 1rem; padding: 2%; text-align: center; width: 96%;}
/* equal sign */
.equal{width: 8%;}
.equal p{font-size: 2.5rem; line-height: 100px; text-align: center;}
/* ingredients */
.ingredient_box{display: flex; justify-content: center; width: 100%;}
#ingredient{font-size: 1rem; margin: 2% 0; padding: 0.5%;}
.inputBox label{border-style: none solid solid; border-width: thin; display: block; font-size: 1rem; text-align: center; width: 96%;} 

/* CONVERTER ICON */
.icon img{width: 90%;}

/* ERROR MESSAGE */
.msg{color: red; padding-top: 1%;}

/* FOR DESIGN ONLY */
/* .box{border-color: red; border-style: solid;} */
/* .inputBox{border-color: yellow; border-style: solid;}
.equal{border-color: orange; border-style: solid;} */


/* BACK TO TOP */
.to_top{background-color: rgba(255, 240, 181); border-color: rgb(217, 217, 217); border-radius: 50%; border-style: solid; border-width: thin; bottom: 6%; box-shadow: 0 4px 8px 0 gray, 0 2px 10px 0 gray; color: rgb(133, 125, 105); font-size: 2.5vw; font-weight: bold; padding: 0.25% 1.5% 1%; position: fixed; right: 1.8%; text-decoration: none; z-index: 1000;}
.to_top:hover{opacity: 0.7;}

/* FOOTER */
footer{background-color: rgb(208, 197, 166); padding: 0.25% 0; text-align: center;}
footer a{color: black; text-decoration: none;}

/* HAMBURGER MENU */
/* menu button */
#bttnMobileNav{background-color: white; border-style: none; display: none; margin: 0.75% 0; position: absolute; right: 5%; width: 10%;}
#bttnMobileNav:hover{cursor: pointer; opacity: 0.7;}
#bttnMobileNav span{background-color: rgb(208, 197, 166); display: block; margin: 15% 0; padding: 8%;}
/* close menu button */
#bttnMobileClose{background-color: white; border-style: none; color: rgb(208, 197, 166); font-size: 1.5rem; font-weight: bold; left: 38%; margin-top: 3%; position: relative; text-align: center; width: 20%;}
#bttnMobileClose:hover{cursor: pointer; opacity: 0.7;}
/* mobile nav */
#mobileNav{background-color: white; border-style: solid; display: none; margin-top: 0.5%; padding-bottom: 2%; position: absolute; right: 2%; width: 30%; z-index: 100;}
#mobileNav button{background-color: white; border-style: none; color: rgb(133, 125, 105);font-size: 3vw; font-weight: bold; text-transform: uppercase;}
#mobileNav button:hover{color: rgb(153, 204, 255); cursor: pointer;}
#mobileNav ul{padding: 1% 2.5%; text-align: center;}
#mobileNav li{list-style-type: none; padding-bottom: 2%;}
#mobileNav a{color: rgb(133, 125, 105); font-size: 3vw; font-weight: bold; text-decoration: none; text-transform: uppercase;}
#mobileNav a:hover{color: rgb(153, 204, 255);}
#mobileCat{display: none;}
#mobileCat a{font-size: 2.25vw; text-align: left;}

/* SMALL WINDOW + MOBILE DESIGN */
@media only screen and (max-width: 600px){
    /* TOP LOGO */
    #top img{max-width: 55%;}

    /* FONT SIZE */
    .title{font-size: 6vw;}
    .subheading{font-size: 5.5vw;}
    .description{font-size: 2.5vw;}
    .input{font-size: 4vw;}
    #ingredient, .inputBox label, .unitOptions{font-size: 3vw;}
    .equal p{font-size: 6vw; line-height: 50px;}
    .msg{font-size: 3vw;}

    /* ICON */
    .main{width: 100%; padding-bottom: 5%; padding-top: 5%;}
    .icon{display: none;}

    /* BACK TO TOP */
    .to_top{display: block; font-size: 3vw; padding: 1% 2.5% 1.5%; right: 0.5%;}

    /* FOOTER */
    footer{font-size: 1.5vw;}

}


/* MOBILE ONLY DESIGN */
@media only screen and (max-width: 475px){
    /* HAMBURGER MENU */
    nav{display: none;}
    #bttnMobileNav{display: block;}
    #mobileNav{width: 40%;}
    #mobileNav a, #mobileNav button{font-size: 4.5vw;}
    #mobileCat a{font-size: 3vw;}

    /* FONT SIZE */
    .title{font-size: 6vw;}
    .subheading{font-size: 5.5vw;}
    .description{font-size: 2.5vw;}
    .input{font-size: 4vw;}
    #ingredient, .inputBox label, .unitOptions{font-size: 3vw;}
    .equal p{font-size: 6vw; line-height: 50px;}
    .msg{font-size: 3vw;}

    /* BACK TO TOP */
    .to_top{display: none;}

    /* FOOTER */
    footer{font-size: 2.5vw;}
}